:root {
  --colour-1: #ececec;
  --colour-2: #9fd3c7;
  --colour-3: #385170;
  --colour-4: #142d4c;
  --colour-bg-slider: var(--colour-2);
  --colour-bg-slider-handle: var(--colour-3);
  --colour-text-link: var(--colour-4);
  --colour-bg-body: var(--colour-1);
  --colour-text-playpause: var(--colour-1);
  --colour-bg-playpause: var(--colour-3);
  --colour-text-default: var(--colour-3);
  --colour-bg-time-sig-inputs: var(--colour-2);
  --colour-text-time-sig-inputs: var(--colour-4);
}

html {
  height: 100%;
}

*,
*::after,
*::before,
body,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

body {
  min-height: 100%;
  width: 100vw;
  display: grid;
  grid-template-rows: auto auto auto;
  position: relative;
  background-color: var(--colour-bg-body);
  color: var(--colour-text-default);
}

.title {
  justify-self: center;
  align-self: center;
  font-size: 3em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bpm-number {
  font-size: 2em;
  font-weight: 800;
  color: var(--colour-text-default);
  background-color: transparent;
  border: none;
  width: 4ch;
  outline: none;
  border-bottom: 2px solid transparent;
  text-align: center;
  caret-color: currentColor;
}

.bpm-number:focus {
  transition: border-color 0.2s ease-in;
  border-color: currentColor;
}

.bpm-text {
  font-size: 1em;
  font-weight: 800;
  user-select: none;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 4% auto 0 auto;
  width: 60%;
  max-width: 500px;
  background-color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #000;
  background: var(--colour-bg-slider);
  border-radius: 25px;
  border: 0px solid #000;
  -webkit-tap-highlight-color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #000;
  border: 0px solid #000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--colour-bg-slider-handle);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
  transition: transform 0.05s ease-out;
  -webkit-tap-highlight-color: transparent;
}

input[type=range]:hover::-webkit-slider-thumb {
  transform: scale(1.05);
}

input[type=range]:active::-webkit-slider-thumb {
  transform: scale(1);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--colour-bg-slider);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #000;
  background: var(--colour-bg-slider);
  border-radius: 25px;
  border: 0px solid #000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #000;
  border: 0px solid #000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--colour-bg-slider-handle);
  cursor: pointer;
  transition: transform 0.05s ease-out;
}

input[type=range]:hover::-moz-range-thumb {
  transform: scale(1.05);
}

input[type=range]:active::-moz-range-thumb {
  transform: scale(1);
}

input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: var(--colour-bg-slider);
  border: 0px solid #000;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #000;
}

input[type=range]::-ms-fill-upper {
  background: var(--colour-bg-slider);
  border: 0px solid #000;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #000;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000, 0px 0px 0px #000;
  border: 0px solid #000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: var(--colour-bg-slider-handle);
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: var(--colour-bg-slider);
}

input[type=range]:focus::-ms-fill-upper {
  background: var(--colour-bg-slider);
}

button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  user-select: none;
}

.playpause {
  position: relative;
  padding: 7% 7%;
  border-radius: 10px;
  background-color: var(--colour-bg-playpause);
  color: var(--colour-text-playpause);
  font-size: 1.375em;
  font-weight: 800;
  min-width: 15ch;
  max-width: 40ch;
  max-height: 4em;
  overflow: hidden;
  z-index: 3;
  -webkit-tap-highlight-color: transparent;
}

.playpause:hover {
  opacity: 90%;
}

.button-container {
  margin-top: 15%;
  position: relative;
  width: auto;
}

#restartButton {
  border: none;
  background-color: transparent;
  position: absolute;
  right: calc(-32px - 1vw);
  transform: translateX(calc(-32px - 1vw));
  z-index: 1;
  transition: transform 1s ease, opacity 0.2s ease;
  opacity: 0%;
}

#restartButton.playing {
  opacity: 100%;
  transform: translateX(0);
  transition: transform 1s ease, opacity 0.6s ease-in;
}

#restartButton svg {
  height: 32px;
  width: 32px;
}

#restartButton path {
  stroke: var(--colour-4);
  stroke-width: 2;
}

#restartButton:hover {
  opacity: 85%;
  transform: rotate(135deg);
}

h2 {
  margin: 9% auto 1% auto;
  font-size: 1em;
}

.time-sig-container {
  flex-direction: row;
  margin-top: 3%;
}

#time-sig-1, #time-sig-2 {
  font-weight: 500;
  font-size: 1.125em;
  color: var(--colour-text-time-sig-inputs);
  background-color: var(--colour-bg-time-sig-inputs);
  min-width: 48px;
  min-height: 24px;
  margin: 0 0.5ch;
  border-radius: 3px;
  padding: 0.5em;
  user-select: none;
}

footer {
  align-self: center;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}

footer a {
  color: var(--colour-text-link);
  transition: opacity 0.3s ease;
}

footer a:hover {
  opacity: 80%;
}

footer a:visited {
  color: var(--colour-3)
}

footer a svg {
  fill: var(--colour-text-link);
}

@media only screen and (min-width: 600px) {
  .title {
    margin-top: 3%;
  }

  .button-container {
    margin-top: 10%;
  }
}

@media only screen and (min-width: 1024px) {
  .title {
    margin-top: 5%;
  }

  .container {
    margin-top: 0%;
  }

  #bpm-slider {
    margin-top: 2%;
  }

  h2 {
    margin-top: 5%;
  }

  .time-sig-container {
    margin-top: 1%;
  }

  .button-container {
    margin-top: 5%;
  }
}
